{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{book.name}}</h2>
                    <p>Автор: {{book.author}}</p>
                    <p>Дата публикации: {{book.pub_date}}</p>
                </div>
            {% endfor %}
            
        </div>
        {% if prev_books %}
        <p><a href="{% url 'books_pub_date' prev_books.0.pub_date|date:'Y-m-d' %}">{{prev_books.0.pub_date|date:'Y-m-d'}}</a></p>
      {% endif %}
    
      {% if next_books %}
        <p><a href="{% url 'books_pub_date' next_books.0.pub_date|date:'Y-m-d' %}">{{next_books.0.pub_date|date:'Y-m-d'}}</a></p>
      {% endif %}
    </div>
{% endblock %}